<%- include('../Admin/adminlayout.ejs') %>
<%- include('../Admin/adminHeader.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-lg-4 " style="margin-left: 500px; margin-top: 200px;">
            <h3 style="display: flex; text-align: center; margin-left: 100px;">Add Banner</h3>
            <form class="frm-data" style="text-align: center;" method="post" action="/Admin/addbanner" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Heading</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" required="required"  name="Heading" aria-describedby="emailHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Offer</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" required="required" name="offer" aria-describedby="emailHelp">
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Image</label>
                  <input type="file" id="moreimage" class="form-control" required="required"  multiple name="bannerimage" onchange="return fileValidation()" >
                </div>
           
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
        </div>
    </div>
</div>  
  

<script>
   
    function fileValidation(){
     var fileInput = document.getElementById('moreimage');
     var filePath = fileInput.value;
     var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
     if(!allowedExtensions.exec(filePath)){
         // imageError
         document.getElementById('imageError').innerHTML = "Please upload file having extensions .jpeg/.jpg/.png/.gif only"
         fileInput.value = '';
         return false;
     }else{
         //Image preview
         if (fileInput.files && fileInput.files[0]) {
             var reader = new FileReader();
             reader.onload = function(e) {
                 document.getElementById('imageError').innerHTML = ''
                 document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
             };
             reader.readAsDataURL(fileInput.files[0]);
         }
     }
 }
 
 </script>                      
