
      <%- include('../Admin/adminlayout.ejs') %>
      <%- include('../Admin/adminHeader.ejs') %>

            <!-- Sale & Revenue Start -->
            
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
             <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="revenue"></canvas>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
             
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            
            <!-- Widgets End -->
           

                   <script>
                $.ajax({
                    url : ('/Admin/dashboardBar'),
                    method: 'get',
                    success : (response)=>{
                        var ctx = document.getElementById('myChart').getContext('2d');
                       var myChart = new Chart(ctx, {
                           type: 'line',
                           data: {
                               labels:[response.dates[0]._id,response.dates[1]._id,response.dates[2]._id,response.dates[3]._id],
                               datasets: [{
                                   label: 'Total Sales Amount',
                                   data:[response.dates[0].totalPrice,response.dates[1].totalPrice,response.dates[2].totalPrice,response.dates[3].totalPrice], 
                                   backgroundColor: [
                                       'rgba(255, 99, 132, 0.2)',
                                       'rgba(54, 162, 235, 0.2)',
                                       'rgba(255, 206, 86, 0.2)',
                                       'rgba(75, 192, 192, 0.2)',
                                       'rgba(153, 102, 255, 0.2)',
                                       'rgba(255, 159, 64, 0.2)'
                                   ],
                                   borderColor: [
                                       'rgba(255, 99, 132, 1)',
                                       'rgba(54, 162, 235, 1)',
                                       'rgba(255, 206, 86, 1)',
                                       'rgba(75, 192, 192, 1)',
                                       'rgba(153, 102, 255, 1)',
                                       'rgba(255, 159, 64, 1)'
                                   ],
                                   borderWidth: 3,
                                   fill:'start',
                                   tension:0.4
                               }]
                           },          
                       });
                    }
                    
                })
               
                    
                    
                   </script>


<!-- <script>
    var ctx = document.getElementById('revenue').getContext('2d');
           var revenue = new Chart(ctx, {
               type: 'pie',
               data: {
                   labels:[10,20,30,50 ],
                   datasets: [{
                       label: 'Total Sales Amount',
                       data:  [result.cancelledOrders[0].totalcount,result.completedOrders[0].totalcount,result.pendingOrders[0].totalcount ],
                       backgroundColor: [
                           'rgba(255, 99, 132, 0.2)',
                           'rgba(54, 162, 235, 0.2)',
                           'rgba(255, 206, 86, 0.2)',
                           'rgba(75, 192, 192, 0.2)',
                           'rgba(153, 102, 255, 0.2)',
                           'rgba(255, 159, 64, 0.2)'
                       ],
                       borderColor: [
                           'rgba(255, 99, 132, 1)',
                           'rgba(54, 162, 235, 1)',
                           'rgba(255, 206, 86, 1)',
                           'rgba(75, 192, 192, 1)',
                           'rgba(153, 102, 255, 1)',
                           'rgba(255, 159, 64, 1)'
                       ],
                       borderWidth: 3,
                       fill:'start',
                       tension:0.4
                   }]
               },          
           }); 
        
       </script>  -->
      
      
       
                <script>
             const dashboard = async() => {
              try {
              //piechart
               $.ajax({     
                url : ('/Admin/getdashboarddetails'),
                method : 'get',
                success : (response) => {
                  console.log(response)
                  const data = {
                  labels: [
                  'Canceled',
                  'Success',
                  'Pending'
            
                  ],
          datasets: [{
            label: 'My First Dataset',
            data: [response.cancelledOrders[0].totalcount,response.completedOrders[0].totalcount,response.pendingOrders[0].totalcount ],
            backgroundColor: [
              'red',
              'lightgreen',
              'aqua'
             
            ],
            hoverOffset: 4
          }]
        };
        
        const config = {
          type: 'pie',
          data: data,
        };
        
        const myChart = new Chart(
            document.getElementById('revenue'), 
            config
          );    
                }
               })
               
              barChart
              $.ajax({
                url : ('/Admin/dashboardBar'),
                method : 'get' ,
                success : (response) => {
                    console.log(response);
                  document.getElementById('profit').innerText = response.Profit
                  document.getElementById('totalSales').innerText = response.totalSales
                  document.getElementById('userdash').innerText = response.users[0].totalcount
        
                  if ($("#myChart").length) {
              var AudienceChartCanvas = $("#myChart").get(0).getContext("2d");
              var AudienceChart = new Chart(AudienceChartCanvas, {
                type: 'bar',
                data: {
                  labels: [response.dates[0]._id,response.dates[1]._id,response.dates[2]._id,response.dates[3]._id],
                  datasets: [
                    {
                      type: 'line',
                      fill: false,
                      data: [response.dates[0].totalPrice,response.dates[1].totalPrice,response.dates[2].totalPrice,response.dates[3].totalPrice],
                      borderColor: '#ff4c5b'
                    },
                    
                  ]
                },
                options: {
                  responsive: true,
                  maintainAspectRatio: true,
                  layout: {
                    padding: {
                      left: 0,
                      right: 0,
                      top: 20,
                      bottom: 0
                    }
                  },
                  scales: {
                    yAxes: [{
                      display: true,
                      gridLines: {
                        display: true,
                        drawBorder: false,
                        color: "#f8f8f8",
                        zeroLineColor: "#f8f8f8"
                      },
                      ticks: {
                        display: true,
                        min: 0,
                        max: 20000,
                        stepSize: 5000,
                        fontColor: "#b1b0b0",
                        fontSize: 10,
                        padding: 10
                      }
                    }],
                    xAxes: [{
                      stacked: false,
                      ticks: {
                        beginAtZero: true,
                        fontColor: "#b1b0b0",
                        fontSize: 10
                      },
                      gridLines: {
                        color: "rgba(0, 0, 0, 0)",
                        display: false
                      },
                      barPercentage: .9,
                      categoryPercentage: .7,
                    }]
                  },
                  legend: {
                    display: false
                  },
                  elements: {
                    point: {
                      radius: 3,
                      backgroundColor: '#ff4c5b'
                    }
                  }
                },
              });
            }
        
                }
              })
        
              } catch (error) {
                console.log(err)
              }
            }
            dashboard()
          </script> 
             

             <%- include('../Admin/adminfooter.ejs') %>  