<%- include('../Admin/adminlayout.ejs') %>
<%- include('../Admin/adminHeader.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-lg-4 " style="margin-left: 500px; margin-top: 200px;">
            <h3 style="display: flex; text-align: center; margin-left: 100px;">Edit Banner</h3>

            <form class="frm-data" style="text-align: center;" method="post" action="/admin/editbanner/<%=bannerData[0].id%>" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Section</label>
                  <input type="text" class="form-control" id="name" value="<%=bannerData[0].Section%>                         
                 
                </div>
             
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"> Upload Image</label>
                  <input  class="form-control" name="bannerImg" id="formFileLg" type="file" multiple  >
                </div>
           
                <button type="submit" class="btn btn-primary">Save Banner</button>
              </form>
        </div>
    </div>
</div> 



